@import "~bootstrap-material-design/scss/bootstrap-material-design";
.graphCard{
    max-height: 400px;
}

#sideBar{
    z-index: 1000;
    transform: translateX(-100%);
    &.active{
        transform: translateX(0);
    }
    transition: transform 0.5s;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    transition: opacity 1s;
    opacity: 0;
    background-color: #101010;
    z-index: 990;
    &.active{
        display: block;
        opacity: 0.8;
    }
}

.sidebarColorText{
    color: white;
}

.sidebarColorText:hover{
    cursor: pointer;
}
.kpiChart {
    font-weight: bold;
    color: black;
    
}

.clickable{
	cursor:pointer;
}

.form-error{
    color: red;
    font-size: 90%;
}

.kpi{
    font-size: 500%;
}

.red{
    color:red;
}

.green{
    color: green;
}

.grey{
    color:grey;
}